vendor/
node_modules/

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
bootstrap/cache/
storage/
.env.*.php
.env.php
.env
.env.example

public/
config/
storage/
.env*
composer.lock
composer.phar
/public/css/*
/public/assets/bower_components
/.idea